@page "/vendas"
@inject HttpClient http
@inject NavigationManager navigation

<header>
    <h1 class="title">Vendas</h1>
    <a class="btn" href="/vendas/adicao">Adicionar <i class="fa-solid fa-plus"></i></a>
</header>

@if (Vendas is null) {
    <Reload />
}
else if (!Vendas.Any()) {
    <p>Não foram encontrados registros.</p>
}
else {
    <table>
        <thead>
            <th>ID</th>
            <th>Cliente</th>
            <th>Data de Emissão</th>
            <th>Valor Total</th>
        </thead>

        <tbody>
            @foreach (var venda in Vendas) {
                <tr>
                    <td>
                        <a href="/vendas/edicao/@venda.ID" class="link-info">
                            @venda.ID
                        </a>
                    </td>
                    <td>@venda.Cliente.Nome</td>
                    <td>@venda.DataEmissao.ToShortDateString()</td>
                    <td>@venda.ValorTotal().Formatado()</td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <p class="text-vendastotal text-end">Total de registros: <span class="quantidade-vendas">@Vendas.Count().ToString("00")</span></p>
    </div>
}

@code {
    public List<Venda> Vendas { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Pesquisar();
    }

    async Task Pesquisar()
    {
        var url = $"{navigation.BaseUri}api/vendas/GetVendas";
        Vendas = await http.GetFromJsonAsync<List<Venda>>(url);
    }
}
